.para{
    background-color: cornflowerblue;
    width:30vh;
    
}
.van{
    background-color: bisque;
    width:30vh;
}
#p1{
    background-color: blueviolet;
}
#vv{
    background-color: hotpink;
}